<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{f6b72b6f-fc74-4671-a559-860e26799ce7}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>Untitled</Company><Date>06/10/2014</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="gblah_addin.py" namespace="gblah_addin"><ArcMap>
    <Commands>
        <Button caption="Button" category="Python Addin" class="ButtonClass1" id="gblah_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Button" category="Python Addin" class="ButtonClass2" id="gblah_addin.button_1" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Button" category="Python Addin" class="ButtonClass3" id="gblah_addin.button_2" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Button" category="Python Addin" class="ButtonClass4" id="gblah_addin.button_3" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python Addin" id="gblah_addin.toolbar" showInitially="true"><Items><Button refID="gblah_addin.button" /><Button refID="gblah_addin.button_1" separator="true" /><Button refID="gblah_addin.button_2" /><Button refID="gblah_addin.button_3" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>