<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{51b79dce-8260-4014-8792-e85fb17558a3}</AddInID><Description>This utilizes the ArcGIS Portal Py API to present users with control of their organizational account.</Description><Version>0.1</Version><Image>Images\portalPyAddIn.PNG</Image><Author>Ashley Stalzer &amp; Alexander P Nohe</Author><Company>ESRI</Company><Date>02/13/2014</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="portalpy-addin_addin.py" namespace="portalpy-addin_addin"><ArcMap>
    <Commands>
        <Tool caption="List Folders" category="Python Addin" class="listFolders" id="portalpy-addin_addin.tool" image="Images\portalPyAddIn.PNG" message="This lists your online folders in a table" tip="List folders"><Help heading="Folder Listing">This lists your online folders in a table</Help></Tool>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Python Addin" class="listFoldersExt" description="Checks that portalPy is signed in." id="portalpy-addin_addin.extension10" name="List Folders" productName="List Folders" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="PortalPyOptions" category="Python Addin" id="portalpy-addin_addin.toolbar" showInitially="true"><Items><Tool refID="portalpy-addin_addin.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>